<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ map }}</title>
</head>
<body>
    <ul>
        {% for site in sites %}
            <h3> {{ site }} </h3>
            {% for image in imageUrls[sites.index(site)] %}
                <img src="{{url_for('static', filename='/')}}{{map}}/{{site}}/{{image}}" style="width:auto; max-width:1000px;  height:auto; max-height:900px; ">
            {% endfor %}
        {% endfor %} 
    </ul>
</body>
</html>
